* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  background-color: rgb(0, 0, 0);
}
.header {
  position: fixed;
  background-color: #141414b2;
  padding: 40px 80px;
  /* width: 1440px; */
  height: 100px;
  gap: 0px;
  opacity: 0px;
  width: 100%;
  display: flex;
  /* gap: 600px; */
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.logo {
  color: aliceblue;
}
.logo-image {
  width: 77.26px;
  height: 64px;
  top: 22px;
  left: 93px;
  gap: 0px;
  opacity: 0px;
}
.navigation-bar {
  /* position:absolute; */
  /* right: 300px;
      top: 20px; */
  color: aqua;
  display: inline;
}
.navigation-bar-items {
  display: flex;
  gap: 20px;
  flex-direction: row;
  /* flex-direction:column; */
}
.about-link {
  color: #ffffff;
  width: 65px;
  height: 26px;
  top: 41px;
  left: 850px;
  gap: 0px;
  opacity: 0px;
  font-family: Jura;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.services-link {
  color: #ffffff;
  width: 62px;
  height: 26px;
  top: 41px;
  left: 937px;
  gap: 0px;
  opacity: 0px;
  font-family: Jura;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.Aircraft-guide-link {
  color: #ffffff;
  width: 96px;
  height: 26px;
  top: 41px;
  left: 1021px;
  gap: 0px;
  opacity: 0px;
  font-family: Jura;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.contact-link {
  color: #ffffff;
  width: 79px;
  height: 26px;
  top: 41px;
  left: 1139px;
  gap: 0px;
  opacity: 0px;
  font-family: Jura;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.Reviews-link {
  color: #ffffff;
  width: 57px;
  height: 26px;
  top: 41px;
  left: 1240px;
  gap: 0px;
  opacity: 0px;
  font-family: Jura;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.vector {
  width: 27px;
  height: 26px;
  top: 3px;
  left: 8px;
  gap: 0px;
  background: #ffffff;
  font-family: Jura;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #000000;
}
.plane {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 850px;
  height: 900px;
  filter: brightness(70%);
}
.heading-ALT {
  position: absolute;
  color: white;
  width: 420px;
  height: 72px;
  top: 190px;
  left: 86px;
  border: 1px black;
  opacity: 0px;
  font-size: 96px;
  font: italic;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: 1px 2px 5px black;
}
.heading-CHA {
  position: absolute;
  color: white;
  width: 420px;
  height: 72px;
  top: 280px;
  left: 86px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-style: var(italiana);
  font-size: 96px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: 1px 2px 5px black;
}
.h5-headding {
  position: absolute;
  color: white;
  width: 497px;
  height: 72px;
  top: 359px;
  left: 86px;
  gap: 0px;
  border: 0.25px 0px 0px 0px;
  opacity: 0px;
  font-style: calc(Jura);
  font-size: 17px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: 1px 2px 3px black;
}
.request-button {
  position: absolute;
  width: 228px;
  height: 48px;
  top: 440px;
  left: 86px;
  font-size: 16px;
  font-style: var(Jura);
  gap: 6.55px;
  border-color: #000000ea;
  border-radius: 9.01px;
  opacity: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.request-button:hover {
  background-color: #000000;
  color: white;
  border-color: #ffffffb3;
}
.contact-form {
  width: 467px;
  height: 627.04px;
  top: 155px;
  left: 905px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  /* width: 600px; */
  background: rgba(15, 15, 15, 1);
  border-color: rgba(255, 255, 255, 0.15);
  border: 1px solid black;
  border-radius: 13px;
  padding: 50px;
  box-shadow: 2px 2px 10px rgba(163, 162, 162, 0.541);
}
.one-trip-button {
  width: 104.27px;
  font-style: var(Jura);
  position: absolute;
  height: 39.33px;
  top: 12.82px;
  left: 13px;
  font-style: calc(Jura);
  color: rgba(7, 6, 11, 1);
  border-radius: 9.01px;
  opacity: 0px;
}
.round-trip-button {
  position: absolute;
  width: 111.42px;
  height: 39.33px;
  top: 12.82px;
  left: 190px;
  font-style: var(Jura);
  /* color: white; */
  gap: 0px;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 9.01px;
  opacity: 0px;
}
.multi-trip-button {
  position: absolute;
  width: 102.83px;
  height: 39.33px;
  top: 12px;
  left: 350.7px;
  font-style: var(Jura);
  gap: 0px;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 9.01px;
  opacity: 0px;
}
.label-username {
  position: absolute;
  color: white;
  width: 66px;
  height: 22px;
  top: 102px;
  left: 30px;
  font-style: var(Jura);
  font-size: 13.11px;
  line-height: 21.3px;
  text-align: center;
}
.input-username {
  position: absolute;
  width: 188.46px;
  height: 39.33px;
  top: 128.22px;
  left: 29px;
  gap: 0px;
  background-color: rgba(101, 99, 99, 1);
  border-radius: 9.01px;
  opacity: 0px;
}
.label-email {
  position: absolute;
  color: #ffffff;
  width: 53px;
  height: 22px;
  top: 102px;
  left: 250px;
  font-style: var(Jura);
  font-size: 13.11px;
  line-height: 21.3px;
  text-align: center;
}
.input-email {
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 188.46px;
  height: 39.33px;
  top: 128.22px;
  left: 251.87px;
  gap: 0px;
  border-radius: 9.01px;
  opacity: 0px;
}
.label-company{
  color:#ffffff;
  position: absolute;
  width: 105px;
height: 22px;
top: 183px;
left: 21px;
gap: 0px;
opacity: 0px;

font-style: var(Jura);
font-size: 13.11px;
line-height: 21.3px;
text-align: center;
}
.input-company{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 188.46px;
height: 39.33px;
top: 209.22px;
left: 29px;
border-radius: 9.01px;
}
.label-phone{
  position: absolute;
  color: #ffffff;
  width: 97px;
height: 22px;
top: 183px;
left: 250px;
font-style: var(Jura);
font-size: 13.11px;
line-height: 21.3px;
text-align: center;
}
.input-phone{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 188.46px;
height: 39.33px;
top: 209.22px;
left: 252px;
gap: 0px;
border-radius: 9.01px ;
opacity: 0px;
}
.line{
  position: absolute;
  width: 417.06px;
height: 0px;
top: 264px;
left: 25px;
gap: 0px;
border: 0.82px 0px 0px 0px;
opacity: 0px;
}
.label-departure{
  position: absolute;
  color: #ffffff;
  width: 116px;
height: 22px;
top: 292px;
left: 27.6px;
gap: 0px;
opacity: 0px;
/* font-  style: var(Jura); */
font-family: Jura;
font-size: 13.11px;
/* font-weight: 600; */
line-height: 21.3px;
text-align: center;
}
.input-departure{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 188.46px;
height: 39.33px;
top: 318.22px;
left: 28px;
border-radius: 9.01px;
}
.label-arrival{
  position: absolute;
  color: #ffffff;
  width: 91px;
height: 22px;
top: 292px;
left: 250.69px;
gap: 0px;
opacity: 0px;
font-family: Jura;
font-size: 13.11px;
font-weight: 600;
line-height: 21.3px;
text-align: center;
}
.input-arrival{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 188.46px;
height: 39.33px;
top: 318.22px;
left: 250.87px;
gap: 0px;
border-radius: 9.01px;
opacity: 0px;
}
.label-Departure-date{
  position: absolute;
  color: #ffffff;
  width: 101px;
height: 22px;
top: 369px;
left: 29px;
gap: 0px;
opacity: 0px;
font-family: Jura;
font-size: 13.11px;
font-weight: 600;
line-height: 21.3px;
text-align: center;
}
.date-departure{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 187.64px;
height: 39.33px;
top: 394px;
left: 29px;
gap: 0px;
border-radius: 9.01px;
opacity: 0px;
}
.label-Time{
  position: absolute;
  color: #ffffff;
  width: 32px;
height: 22px;
top: 370px;
left: 250.44px;
gap: 0px;
opacity: 0px;
font-family: Jura;
font-size: 13.11px;
font-weight: 600;
line-height: 21.3px;
text-align: center;
}
.input-time{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 187.64px;
height: 39.33px;
top: 394px;
left: 251px;
gap: 0px;
border-radius: 9.01px;
opacity: 0px;
}
.label-Passengers{
  position: absolute;
  color: #ffffff;
  width: 79px;
height: 22px;
top: 442px;
left: 28.83px;
gap: 0px;
opacity: 0px;
font-family: Jura;
font-size: 13.24px;
font-weight: 600;
line-height: 21.51px;
text-align: center;
}
.input-Passengers{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 187px;
height: 40px;
top: 468px;
left: 29px;
gap: 0px;
border-radius: 9.1px;
opacity: 0px;
}
.label-Plane-Type{
  color: #ffffff;
  position: absolute;
  width: 73px;
height: 22px;
top: 442px;
left: 249.92px;
gap: 0px;
opacity: 0px;
font-family: Jura;
font-size: 13.24px;
font-weight: 600;
line-height: 21.51px;
text-align: center;
}
.select-plane-type{
  position: absolute;
  background-color: rgba(101, 99, 99, 1);
  width: 186px;
height: 40px;
top: 469px;
left: 251px;
gap: 0px;
opacity: 0px;
border-radius: 9.1px;
}
.submit-button{
  position: absolute;
  width: 408.05px;
height: 48px;
font-size: 19px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
top: 552px;
left: 32px;
gap: 6.55px;
border-radius: 9.01px;
opacity: 0px;

}
[type="text"] {
  /* font-size: 18px; */
  font-style: var(Jura);
}
input[type="text"]::placeholder {
  color: rgb(150, 149, 149);
}
